.computer {
  background-color: #0a0b0d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.computer .div {
  background-color: #0a0b0d;
  width: 1920px;
  height: 8054px;
  position: relative;
}

.computer .overlap-group {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #d0131f;
}

.computer .portret {
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: 80px;
  left: 0;
  object-fit: cover;
}

.computer .text-wrapper {
  position: absolute;
  width: 884px;
  top: 165px;
  left: 58px;
  font-family: "Bebas Neue-Regular", Helvetica;
  color: #3dbaec80;
  font-size: 1000px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-2 {
  position: absolute;
  width: 63px;
  top: 227px;
  left: 960px;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-blue);
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.computer .personal {
  position: absolute;
  width: 147px;
  top: 284px;
  left: 960px;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-blue);
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.computer .span {
  color: #0a0b0d;
}

.computer .text-wrapper-3 {
  color: #3dbaec;
}

.computer .text-wrapper-4 {
  position: absolute;
  top: 313px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-5 {
  position: absolute;
  top: 347px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-6 {
  position: absolute;
  top: 381px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-7 {
  position: absolute;
  top: 415px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-8 {
  position: absolute;
  top: 449px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .work-programs {
  position: absolute;
  width: 197px;
  top: 503px;
  left: 960px;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-blue);
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.computer .p {
  position: absolute;
  width: 578px;
  top: 531px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-9 {
  position: absolute;
  width: 509px;
  top: 565px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-10 {
  position: absolute;
  width: 509px;
  top: 599px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-11 {
  position: absolute;
  width: 509px;
  top: 633px;
  left: 960px;
  font-size: 28px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-12 {
  position: absolute;
  width: 509px;
  top: 667px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-13 {
  position: absolute;
  top: 749px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-14 {
  position: absolute;
  top: 783px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-15 {
  position: absolute;
  top: 817px;
  left: 960px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-16 {
  position: absolute;
  width: 197px;
  top: 721px;
  left: 960px;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-black);
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.computer .rectangle {
  position: fixed;
  width: 1920px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: var(--variable-collection-black);
}

.computer .frame {
  width: 814px;
  justify-content: flex-end;
  left: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  position: fixed;
  top: 14px;
}

.computer .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  color: var(--variable-collection-color);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.computer .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .frame-2 {
  width: 790px;
  left: 1065px;
  display: flex;
  align-items: center;
  gap: 30px;
  position: fixed;
  top: 14px;
}

.computer .text-wrapper-19 {
  position: fixed;
  top: 13px;
  left: 1855px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #e9f5fe;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.computer .texture {
  position: fixed;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  object-fit: cover;
}

.computer .portfolio {
  position: fixed;
  width: 151px;
  top: 6px;
  left: 884px;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.computer .text-wrapper-20 {
  color: #e9f5fe;
}

.computer .text-wrapper-21 {
  color: #ffffff;
}
