:root {
  --variable-collection-color: rgba(233, 245, 254, 1);
  --variable-collection-black: rgba(10, 11, 13, 1);
  --variable-collection-black2: rgba(21, 29, 43, 1);
  --variable-collection-blue: rgba(61, 186, 236, 1);
  --variable-collection-red: rgba(208, 19, 31, 1);
  --variable-collection-red2: rgba(102, 20, 18, 1);
}
